.App {
  text-align: center;
}

.details {
  text-align: left;
  background: #fff;
  position: left;
  border-radius: 5px;
  padding: 10px;
  color: #333;
  width: 200px;
  margin: 20px auto;
  flex-basis: width;
  background-color: rgb(39, 160, 39);
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}
